# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CMakeFiles
/libh264p/CMakeFiles
/h264p/CMakeFiles
/libh264p/libh264p.dir
/x64
/.vs
/out/build/x64-Debug
/out/install/x64-Debug/include
/out
*.vcxproj
*.filters
*.sln
*.pdb
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
h264p/cmake_install.cmake
libh264p/cmake_install.cmake
/h264p/h264p.dir/Release
/Testing/Temporary
/install_manifest.txt
*.user
*.lastcodeanalysissucceeded
